@page "/"

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Spectra Use-Cases</h1>
        <p class="lead">View the current catalogue of Spectra's active image recognition use-cases.</p>
    </div>
</div>

<CustomVisionProjects />
