/* _content/Spectra.Model.Client/Pages/CustomVisionProject.razor.rz.scp.css */
@font-face {
    font-family: Icons;
    src: url(telstra/TELSTRAAKKURAT-REGULAR.OTF);
}

.fill[b-3jf46kur98] {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 100%;
}

.fill img[b-3jf46kur98] {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
/* _content/Spectra.Model.Client/Pages/Index.razor.rz.scp.css */
.jumbotron[b-a5qszzyhau] {
    background-color: white;
    padding-bottom: 10px;
}
/* _content/Spectra.Model.Client/Shared/MainLayout.razor.rz.scp.css */

.page[b-5siuq89tld] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-5siuq89tld] {
    flex: 1;
}

.sidebar[b-5siuq89tld] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-5siuq89tld] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-5siuq89tld]  a, .top-row .btn-link[b-5siuq89tld] {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child[b-5siuq89tld] {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-5siuq89tld] {
        display: none;
    }

    .top-row.auth[b-5siuq89tld] {
        justify-content: space-between;
    }

    .top-row a[b-5siuq89tld], .top-row .btn-link[b-5siuq89tld] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-5siuq89tld] {
        flex-direction: row;
    }

    .sidebar[b-5siuq89tld] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-5siuq89tld] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-5siuq89tld] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}
/* _content/Spectra.Model.Client/Shared/NavBar.razor.rz.scp.css */
/* All of Telstra Gradients */

.linear-gradient.blue[b-zzk4f7t6u4] {
    background-color: #0064D2;
    background-image: -webkit-linear-gradient(-360deg, #0064D2 0%, #5CD6E0 30%, #5E50BF 100%);
    background-image: linear-gradient(90deg, #0064D2 0%, #5CD6E0 30%, #5E50BF 100%)
}



.linear-gradient.green[b-zzk4f7t6u4] {
    background-color: #008A00;
    background-image: -webkit-linear-gradient(-360deg, #008A00 0%, #7DE0A1 30%, #008381 100%);
    background-image: linear-gradient(90deg, #008A00 0%, #7DE0A1 30%, #008381 100%)
}



.linear-gradient.magenta[b-zzk4f7t6u4] {
    background-color: #A0148C;
    background-image: -webkit-linear-gradient(-360deg, #A0148C 0%, #FFAD6E 30%, #FF7AA3 100%);
    background-image: linear-gradient(90deg, #A0148C 0%, #FFAD6E 30%, #FF7AA3 100%)
}



.linear-gradient.orange[b-zzk4f7t6u4] {
    background-color: #F7AB59;
    background-image: -webkit-linear-gradient(-360deg, #F7AB59 0%, #EA5153 35%, #C24279 70%);
    background-image: linear-gradient(90deg, #F7AB59 0%, #EA5153 35%, #C24279 70%)
}



.linear-gradient.purple[b-zzk4f7t6u4] {
    background-color: #8779B7;
    background-image: -webkit-linear-gradient(-360deg, #8779B7 0%, #C69DC9 35%, #5BC0f2 70%);
    background-image: linear-gradient(90deg, #8779B7 0%, #C69DC9 35%, #5BC0f2 70%)
}



.linear-gradient.turquoise[b-zzk4f7t6u4] {
    background-color: #009792;
    background-image: -webkit-linear-gradient(-360deg, #009792 0%, #23B8D6 35%, #C6D86b 70%);
    background-image: linear-gradient(90deg, #009792 0%, #23B8D6 35%, #C6D86b 70%)
}

/* End of Telstra Gradients */

.linear-gradient[b-zzk4f7t6u4] {
    height: 3px;
    width: 100%;
}
/* _content/Spectra.Model.Client/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-rcx1h8d439] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-rcx1h8d439] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-rcx1h8d439] {
    font-size: 1.1rem;
}

.oi[b-rcx1h8d439] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-rcx1h8d439] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-rcx1h8d439] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-rcx1h8d439] {
        padding-bottom: 1rem;
    }

    .nav-item[b-rcx1h8d439]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-rcx1h8d439]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-rcx1h8d439]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-rcx1h8d439] {
        display: none;
    }

    .collapse[b-rcx1h8d439] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
