<div class="linear-gradient green"></div>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <a class="navbar-brand" href="#">
        <img src="/images/Primary-Green-RGB.png" width="30" height="30" alt="">
    </a>
    <h5 class="my-0 mr-md-auto font-weight-normal">Spectra</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <AuthorizeView>
            <Authorized>
                Hello, @context.User.Identity.Name!
                <a href="MicrosoftIdentity/Account/SignOut">Log out</a>
            </Authorized>
            <NotAuthorized>
                <a href="MicrosoftIdentity/Account/SignIn">Log in</a>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>


@code { }
